<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Grasp Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <form method="POST" action="/calculate-position">
      <div>Характеристика</div>
      <select name="grasp_type">
        {% for grasp_type in types %}
        <option value="{{grasp_type}}">{{grasp_type}}</option>
        {% endfor %} </select
      ><br />
      <div>Начало</div>
      <input type="date" name="start_date" required /><br />
      <div>Конец</div>
      <input type="date" name="end_date" required /><br />
      <button>write</button>
    </form>
    {% for error in errors %}
    <div>Ошибка: {{ error }}</div>
    {% endfor %}
  </body>
</html>
